<div class="table-container">
  <h2>User Information</h2>
  <table class="styled-table">
      <thead>
          <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Phone Number</th>
              <th>Buttons</th>
          </tr>
          <td colspan="5" id="addbtn">
            <a routerLink="adddata" class="btn">Add</a>
          </td>
      </thead>
      @for (item of UserData; track $index) {
      <tbody>

          <tr>
              <td>{{item.fullName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.password}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>
                <a routerLink="edit/{{item.id}}">Update</a>
                <a routerLink="adddata">Add</a>
                <button (click)="deletedata(item.id)"><span>Delete</span></button>
              </td>
          </tr>

      </tbody>

    }
  </table>
</div>
